#heroBg {
  border: none !important;
  height: 100vh;
  width: 100%;
  aspect-ratio: 16 / 9;
  padding: 0;
  flex-direction: row; /* Stack children vertically */
  justify-content: center;
  display: flex;
  background: rgb(255, 255, 255);
  background: linear-gradient(149deg, rgb(255, 255, 255) 0%, rgba(255, 254, 255, 1) 24%, rgba(243, 237, 245, 1) 44%, rgba(214, 195, 221, 1) 75%, rgba(152, 116, 165, 1) 100%);
  background-size: 200% 100%;
  animation: bgGradient 3s ease-in-out infinite;
  animation-direction: alternate;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  /* Center content */
}

@keyframes bgGradient {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}

/* Responsive adjustments */

@media (max-width: 1570px) {

  #heroBg {
    flex-direction: column;
  }
  .iconBack {
    margin-top: 6px;
  }

  #IconsNext.HeroElement{
    margin-top: 50px;
  }
}


@media (max-width: 1200px) {
  #heroBg {
    height: 90vh;
  }
}

@media (max-width: 992px) {
  #heroBg {
    height: 80vh;
  }
}

@media (max-width: 768px) {
  #heroBg {
    height: 70vh;
  }
}

@media (max-width: 576px) {
  #heroBg {
    height: 60vh;
  }
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin: 0;
}

#heroMain {
  color: #2D2B2B;
  font-size: 85px;
  font-style: normal;
  letter-spacing: 2.75px;
  text-transform: uppercase;
  font-weight: 900;

}

#heroSubtitle {
  color: #2D2B2B;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-transform: lowercase;
  padding-top: 0;
  margin-top: 0;
}

#heroMain,
#heroSubtitle {
  padding: 0;
  margin: 0;


}

@media (min-width: 1570px) {


}

.iconBack {
  transition: 0.3s ease-in-out;
  background-color: #2D2B2B;
  width: 100px;
  height: 100px;
  margin-left: 15px;
}

.iconsLine1,
.iconsLine2 {
  display: flex;


}

.iconsLine2 {
  margin-top: 15px;
  margin-left: 65px;
}

.IconStrip {

  margin-right: 10vh;
  padding: 0;
  margin-bottom: 20px;
}

.HeroElement {
  width: auto;
  height: auto;

}

#IconsNext {
  padding-left: 0;

}

#MainText {
  padding-left: 230px;
  margin-right: 10vh;
  min-width: max-content;
  max-width: 0;

}

.iconImg {
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
  width: 90%;
}

#ReactIcon {
  padding-top: 11px;
}

#NodeIcon {
  width: 85%;
  padding-left: 9.5px;
  height: 90%;
}

#CPPIcon,
#CSIcon,
#CIcon {
  width: 85%;
  padding-left: 8px;
  height: 90%;
}


.iconBack:hover {
  transition: 0.1s ease-out;
  background-color: #747474;
  width: 110px;
  height: 110px;
}

.iconBack:active {
  transition: 0.1s ease-out;
  background-color: #ffffff;
  width: 100px;
  height: 100px;
}