@media (max-width: 1570px) {

    #heroBg {
      flex-direction: column;
    }
    .iconBack {
      margin-top: 6px;
    }
  
    #IconsNext.HeroElement{
      margin-top: 50px;
    }
  }





#InfoSection {
    height: fit-content;
    width: 100%;
    padding: 0;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgb(49, 15, 66) 100%);
    display: flex;
    flex-direction: row;
}


.SkillBoard {
    color: white;
    border: 1px solid #4F2F68;
    background: #120E14;
    height: fit-content;
    padding: 0 12px;
    border-radius: 17px;
    padding-right: 20px;


}

.SkillBoard li {
    color: #FFF;

    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 37px;
    /* 135% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.SkillBoard li::marker {
    color: purple;
}

.SkillBoard h5 {
    font-variant-numeric: lining-nums proportional-nums;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    padding: 0;

}


#skillDiv {
    display: flex;
    flex-direction: column;
    margin-left: 25vh;
}

#skillDiv div {
    margin-top: 12px;

}

.infoMain {
    font-variant-numeric: lining-nums proportional-nums;

    color: #FEFAFF;

    font-variant-numeric: lining-nums proportional-nums;
    font-size: 55px;
    font-style: normal;

    letter-spacing: 2.75px;
    text-transform: uppercase;
    margin-bottom: 0;

    padding-left: 10px;
}

.infoBio {
    margin-left: 29vh;
}



#mainText {
    color: #FFF;

    font-variant-numeric: lining-nums proportional-nums;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 300;

    width: 60vh;
    margin-left: 30vh;
}


.personInfo {
    display: flex;
    width: fit-content;
    margin-left: 30vh;
    justify-content: space-between;
}

.personInfo h5 {
    color: #FFF;

    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.personInfo p {
    color: #FFF;

    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 0px;
    letter-spacing: 1px;

}


#robiotDiv {
    margin-right: 400px;
}

#billDiv {
    margin-left: auto;
}

#projectsMain {
    text-align: center;
    margin-bottom: 20px;
}

.projectDiv {
    border-radius: 17px;
    border: 1px solid #4F2F68;
    color: white;
    background: #120E14;
    width: fit-content;
    padding-top: 20px;
    padding-left: 10px;
    max-width: 25vw;
    padding-bottom: 30px;
    width: 25vw;
    height: 7vw;
    margin-left: 50px;

}

.projectTitle {
    padding-top: 10px;
    margin-top: 10px;
    color: #FFF;
    display: inline;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 69.444% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

#contactsMain {
    color: #fff8fe;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    font-weight: 600;
    line-height: 25px;
    /* 69.444% */
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
}

.projectTags {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px;
    /* 50% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}


.projectPhase {
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
    color: #D49CFF;
    display: inline;
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    /* 50% */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}


.projectContent {
    color: #e5e5e5;
    display: inline;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 104.167% */
    letter-spacing: -0.72px;

}

#projectsPage {
    
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."
      ". ."; 

    gap: 15px;
}


#contactsPage {
    height: fit-content;
    width: 100%;
    padding: 0;
    background: rgb(58,0,82);
    background: linear-gradient(292deg, rgb(0, 0, 0) 1%, rgb(64, 0, 91) 100%);
    display: flex;
    flex-direction: column
}


.contacts {
    color: white;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    display: inline;
    
    
}

.contactName {
    font-weight: 500;
}

.contactForward {
    font-weight: 300;
}
.contactsInfo {
    text-align: center;
}

.inliner {
    display: inline;
}